WebServiceDesignStyles1ProjectClient/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebServiceDesignStyles1ProjectServer/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ds.cmu.haonanli.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ds.cmu.haonanli.com/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ds.cmu.haonanli.com/" schemaLocation="http://localhost:8080/WebServiceDesignStyles1ProjectServer/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="initializeList">
<part name="parameters" element="tns:initializeList"/>
</message>
<message name="initializeListResponse">
<part name="parameters" element="tns:initializeListResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="getSpy">
<part name="parameters" element="tns:getSpy"/>
</message>
<message name="getSpyResponse">
<part name="parameters" element="tns:getSpyResponse"/>
</message>
<message name="addSpy">
<part name="parameters" element="tns:addSpy"/>
</message>
<message name="addSpyResponse">
<part name="parameters" element="tns:addSpyResponse"/>
</message>
<message name="updateSpy">
<part name="parameters" element="tns:updateSpy"/>
</message>
<message name="updateSpyResponse">
<part name="parameters" element="tns:updateSpyResponse"/>
</message>
<message name="deleteSpy">
<part name="parameters" element="tns:deleteSpy"/>
</message>
<message name="deleteSpyResponse">
<part name="parameters" element="tns:deleteSpyResponse"/>
</message>
<message name="getListAsXML">
<part name="parameters" element="tns:getListAsXML"/>
</message>
<message name="getListAsXMLResponse">
<part name="parameters" element="tns:getListAsXMLResponse"/>
</message>
<portType name="NewWebService">
<operation name="initializeList">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/initializeListRequest" message="tns:initializeList"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/initializeListResponse" message="tns:initializeListResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getListRequest" message="tns:getList"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="getSpy">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getSpyRequest" message="tns:getSpy"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getSpyResponse" message="tns:getSpyResponse"/>
</operation>
<operation name="addSpy">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/addSpyRequest" message="tns:addSpy"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/addSpyResponse" message="tns:addSpyResponse"/>
</operation>
<operation name="updateSpy">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/updateSpyRequest" message="tns:updateSpy"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/updateSpyResponse" message="tns:updateSpyResponse"/>
</operation>
<operation name="deleteSpy">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/deleteSpyRequest" message="tns:deleteSpy"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/deleteSpyResponse" message="tns:deleteSpyResponse"/>
</operation>
<operation name="getListAsXML">
<input wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getListAsXMLRequest" message="tns:getListAsXML"/>
<output wsam:Action="http://ds.cmu.haonanli.com/NewWebService/getListAsXMLResponse" message="tns:getListAsXMLResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initializeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListAsXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceDesignStyles1ProjectServer/NewWebService"/>
</port>
</service>
</definitions>